@using KMAP.Models
@using KMAP.Controllers.General
@model IEnumerable<KMDocDatumClass>
@{
    string PartialDocumentFile = "PartialDocumentFile";
    IList<KMDocumentFile> fileClasses = ViewBag.KMDocumentFileClasses;
}
<div>
    <table class="table table-bordered table-striped table-condensed" style="width:100%">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.UniqueKey)</th>
            <th>@Html.DisplayNameFor(model => model.RelatedItems)</th>
            <th>AttachFile</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td><a href=@item.DocumentUrl target="_blank">@HtmlRemoval.StripTagsRegex(HttpUtility.HtmlDecode(item.Title))</a></td>
            <td>@Html.DisplayFor(modelItem => item.UniqueKey)</td>
            <td>
                @try
                {
                    //string firstvalue =item.RelatedItems.FirstOrDefault()?.Title ?? string.Empty;
                    //@HtmlRemoval.StripTagsRegex(HttpUtility.HtmlDecode(firstvalue));

                    foreach (var subitem in item.RelatedItems)
                    {
                        string firstvalue = subitem?.Title ?? string.Empty;
                        @HtmlRemoval.StripTagsRegex(HttpUtility.HtmlDecode(firstvalue));
                        <br />
                    }

                }
                catch { string.Format("空"); }
            </td>
            <td>
                @if (item != null)
                {
                    @Html.Partial(PartialDocumentFile, item.kmDocumentFile.kmFiles);
                }
            </td>
        </tr>
        }
    </table>
</div>
