@using KMAP.Models
@using KMAP.Controllers.General
@model IEnumerable<DatumClass>
@{
    string PartialDocumentFile = "PartialDocumentFile";
    IList<KMDocumentFile> fileClasses = ViewBag.KMDocumentFileClasses;
}
<div>
    <table class="table table-bordered table-striped table-condensed" style="width:100%">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.UniqueKey)</th>
            <th>AttachFile</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href=@string.Format("{0}{1}",Constant.ReadContentUrl,item.UniqueKey) target="_blank">@Html.DisplayFor(modelItem => item.Title)</a></td>
                <td>@Html.DisplayFor(modelItem => item.UniqueKey)</td>
                <td>
                    @if (fileClasses != null)
                    {
                        @Html.Partial(PartialDocumentFile, fileClasses);
                    }

                </td>
            </tr>
        }
    </table>
</div>
